*{
    margin: 0px;
    padding: 0px;
    border: 0px solid violet;
}

#container{

    width:256px;
    height: 256px;
    border: 1px solid violet;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}
#container div{
    box-sizing: border-box;
    border: 1px solid #ccc;
}